body {
    font-family: helvetica, sans-serif;
    color: #eee;
    background-color:  black;
}
main {
    border: 1px dotted #fff;
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    margin-top: 25vh;
}

label {
    font-weight: bold;  
}

input[type="text"] {
    border: none;
    border-bottom: 2px solid white;
    background-color: black;
    color: white;
    padding-left: 10px;
}

div {
    padding-bottom: 20px;
}
input[type="text"] {
    padding: 5px;
    width: 150px;
}
p {
    background: rgb(194, 194, 194);
    color: rgb(184, 62, 18);
    padding: 10px;
    visibility: hidden;
}